/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header */
header {
  height: 100vh;
  width: 100%;
  background-color: #3deefa;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out, background-size 1s ease-in-out;
  animation: animate 20s ease-in-out infinite;
}

/* Keyframes for automatic animation */
@keyframes animate {
  0%,
  100% {
    background-image: linear-gradient(
        to bottom,
        rgba(212, 177, 201, 1),
        rgba(212, 177, 201, 0.5) 30%,
        rgba(212, 177, 201, 0)
      ),
      linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0)
      ),
      url("assets/accueil2.jpg");
    background-size: cover;
    background-position: center;
  }
  25% {
    background-image: linear-gradient(
        to bottom,
        rgba(212, 177, 201, 1),
        rgba(212, 177, 201, 0.5) 30%,
        rgba(212, 177, 201, 0)
      ),
      linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0)
      ),
      url("assets/accueil1.jpg");
    background-size: cover;
    background-position: center;
  }
  50% {
    background-image: linear-gradient(
        to bottom,
        rgba(212, 177, 201, 1),
        rgba(212, 177, 201, 0.5) 30%,
        rgba(212, 177, 201, 0)
      ),
      linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0)
      ),
      url("assets/accueil2.jpg");
    background-size: cover;
    background-position: center;
  }
  75% {
    background-image: linear-gradient(
        to bottom,
        rgba(212, 177, 201, 1),
        rgba(212, 177, 201, 0.5) 30%,
        rgba(212, 177, 201, 0)
      ),
      linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0)
      ),
      url("assets/accueil1.jpg");
    background-size: cover;
    background-position: center;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
}

nav .nav-items {
  flex: 1;
  font-family: "Jost", sans-serif;
}

nav .nav-items.left ul,
nav .nav-items.right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

nav .nav-items ul li {
  list-style: none;
}

nav .nav-items ul li a {
  color: #b04190;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  padding: 2px;
}

nav .nav-items ul li a:hover {
  color: #fff;
}

nav .nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-logo img {
  width: 100px;
  height: 100px;
}

header .nav-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: #fff;
  font-family: "Zilla Slab", sans-serif;
}

header .nav-text .line {
  width: 2px;
  height: 40%;
  border-radius: 5px;
  background-color: #fff;
}

header .nav-text .line2 {
  width: 2px;
  margin-top: 20px;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
}

header .nav-text .description {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

header .nav-text .description a img {
  width: 50px;
  height: 50px;
}

header .nav-text .programme {
  padding: 15px;
}

header .nav-text p .programme-inner {
  background-color: #b04190;
}

header .nav-text button {
  margin-top: 0.5rem;
  padding: 0.6rem;
  color: #b04190;
  cursor: pointer;
  border: none;
}

header .nav-text h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}

/* Menu Toggle Button */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #b04190;
  margin: 4px 0;
  transition: 0.4s;
}

/* Responsive Styles */
@media screen and (max-width: 1013px) {
  nav {
    padding: 1%;
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  .menu-toggle {
    display: flex;
    padding-right: 10px;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
    position: fixed;
    right: 0;
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #b04190;
    margin: 4px 0;
    transition: all 0.3s ease;
  }

  .nav-items {
    top: 0;
    left: -100%;
    background-color: #fff;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 1000;
    position: fixed;
    overflow: hidden;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
  }

  .nav-items.left {
    margin-top: 500px;
    /* justify-content: flex-start; */
  }

  .nav-items.right {
    /* justify-content: flex-end; */
  }

  .nav-items.active {
    left: 0;
  }

  .nav-items ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .nav-items ul li {
    text-align: center;
    width: 100%;
  }

  .nav-items ul li a {
    padding: 15px;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
  }

  .nav-items ul li a:hover {
    background-color: #f0f0f0;
  }
}

/* Main content */
main {
  padding: 20px;
  overflow-x: hidden;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  padding: 3% 8%;
}

.intro .intro-title {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 20px;
  color: #301127;
  font-family: "Zilla slab", sans-serif;
}

.intro .intro-description {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  width: 80%;
  text-align: left;
  color: #301127;
}

.intro .read-more {
  background-color: #301127;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.intro .read-more a {
  color: white;
}

.intro .read-more:hover {
  background-color: #972e72;
}

/*  VOYAGES PART  */
.voyages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 1rem;
  color: #301127;
}

.voyage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  position: relative;
}

.voyage {
  display: flex;
  flex-direction: column;
}

.voyage img {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 2rem;
}

.linecenter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1.5rem;
}

.timeline {
  border: 1px solid #ff8000;
  background-color: #ff8000;
  width: 3%;
  height: 550px;
  position: relative;
}

.cercle {
  width: 20px;
  height: 20px;
  background-color: #ff8000;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cercle2 {
  width: 20px;
  height: 20px;
  background-color: #ff8000;
  border-radius: 50%;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.voyage.left {
  text-align: right;
  align-items: flex-end;
  margin-right: 1rem;
  width: 700px;
}

.voyage.right {
  text-align: left;
  align-items: flex-start;
  margin-left: 1rem;
  width: 700px;
}

.voyage-container .voyage-info h3 {
  font-family: "Jost", sans-serif;
  color: #ff8000;
  font-size: 16px;
  text-transform: uppercase;
}

.voyage-container .voyage-info h2 {
  font-family: "Zilla Slab", sans-serif;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.voyage-container .voyage.left .voyage-info p {
  text-align: right;
}

.voyage-container .voyage-info p {
  font-family: "Jost", sans-serif;
  width: 500px;
  margin: 0.5rem 0;
}

/* Responsive Styles for main content */
@media screen and (max-width: 1013px) {
  main {
    padding: 10px;
    overflow-x: hidden;
  }

  .intro {
    padding: 2% 5%;
  }

  .intro .intro-title {
    font-size: 2rem;
  }

  .intro .intro-description {
    width: 100%;
    text-align: center;
  }

  .voyages {
    flex-direction: column;
  }

  .voyage-container {
    flex-direction: column;
    width: 100%;
  }

  .voyage {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .voyage img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .linecenter {
    margin: 1rem 0;
  }

  .timeline {
    width: 2px;
    height: 150px;
  }

  .cercle,
  .cercle2 {
    width: 15px;
    height: 15px;
  }

  .voyage-container .voyage-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .voyage-container .voyage-info p {
    width: 100%;
    text-align: center;
  }

  .voyage.left,
  .voyage.right {
    text-align: center;
    align-items: center;
  }
}
