/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}
sup{
  font-size: 10px;
}
/* Header */
header {
  height: 100vh;
  width: 100%;
  background-color: #3deefa;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  position: relative;
  overflow: hidden;
}
header.active {
  transform: scale(1.1);
  opacity: 0;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 10%;
  transition: all 0.3s ease-in-out;
}

.desktop-design {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  font-family: "Jost", sans-serif;
}

nav .nav-items.left ul,
nav .nav-items.right ul {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

nav .nav-items ul li {
  list-style: none;
  margin-left: 1rem;
}

nav .nav-items ul .language {
  /* margin-left: 40px; */
}

nav .nav-items ul .language a {
  color: #fff;
}

nav .nav-items ul .language a span {
  color: #b04190;
}

nav .nav-items ul li a {
  color: #b04190;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  padding: 2px;
}

nav .nav-items ul li a:hover {
  color: #fff;
}

nav .nav-logo img {
  width: 100px;
  height: 100px;
}

.mobile-design {
  display: none;
  position: absolute;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  transition: right 0.3s ease-in-out;
  padding: 1rem;
}

.mobile-design ul li {
  margin: 1rem 0;
}

.mobile-design ul li a {
  color: #b04190;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.mobile-design ul li a:hover {
  color: #fff;
}
.mobile-design.active {
  right: 0;
}

.menu-toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 20px;
  height: 3px;
  background-color: #b04190;
  margin: 4px 0;
  transition: all 0.3s ease;
}
.menu-toggle .bar {
  display: flex;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #b04190;
}
.menu-toggle.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* HEADER */
header .nav-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: #fff;
  font-family: "Zilla Slab", sans-serif;
}

header .nav-text .line {
  width: 2px;
  height: 40%;
  border-radius: 5px;
  background-color: #fff;
}

header .nav-text .line2 {
  width: 2px;
  margin-top: 20px;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
}

header .nav-text .description {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

header .nav-text .description a img {
  width: 50px;
  height: 50px;
}

header .nav-text .programme {
  padding: 15px;
}

header .nav-text p .programme-inner {
  background-color: #b04190;
}

header .nav-text button {
  margin-top: 0.5rem;
  padding: 0.6rem;
  color: #b04190;
  cursor: pointer;
  border: none;
}

header .nav-text h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 768px) {
  .desktop-design {
    display: none;
  }
  .menu-toggle {
    display: flex;
  }
}

/* Responsive Styles */
@media (max-width: 1013px) {
  nav {
    transition: all 0.3s ease-in-out;
    width: 100%;
  }

  .desktop-design {
    display: none;
  }
  .mobile-design {
    display: block;
    width: 100%;
  }

  .menu-toggle {
    display: block;
    margin: 2rem;
    position: absolute;
    cursor: pointer;
    z-index: 10001;
    transition: all 0.3s ease;
  }

  .sidebar {
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    /* position: fixed; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: 1000;
  }
  .sidebar.active {
    top: 0;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .sidebar ul li a {
    font-size: 22px;
    padding: 0.5rem;
    transition: all 0.3s ease;
  }

  .sidebar ul li a:hover {
    font-size: 25px;
    color: #972e72;
    font-weight: 600;
  }
  .mobile-design {
    right: 0;
    height: 100vh;
    display: flex;
    left: 0;
    transition: all 0.3s ease-in-out;
    padding: 1rem;
  }
}

/* Main content */
main {
  padding: 20px;
  overflow-x: hidden;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  padding: 3% 8%;
}

.intro .intro-title {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 20px;
  color: #301127;
  font-family: "Zilla slab", sans-serif;
}

.intro .intro-description {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  width: 80%;
  text-align: left;
  color: #301127;
}

.intro .read-more {
  background-color: #301127;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.intro .read-more a {
  color: white;
}

.intro .read-more:hover {
  background-color: #972e72;
}

/*  VOYAGES PART  */
.voyages {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 50px;
  padding: 1rem;
  color: #301127;
  overflow: hidden;
}

.voyage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 0 20px;
  max-width: 1200px;
}

.voyage {
  display: flex;
  flex-direction: column;
}

.voyage img {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 2rem;
}

.linecenter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 10px;
}

.timeline {
  border: 1px solid #ff8000;
  background-color: #ff8000;
  width: 3%;
  height: 550px;
  position: relative;
}

.cercle {
  width: 20px;
  height: 20px;
  background-color: #ff8000;
  border-radius: 50%;
  position: absolute;
  top: 43px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cercle2 {
  width: 20px;
  height: 20px;
  background-color: #ff8000;
  border-radius: 50%;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.voyage.left {
  text-align: right;
  align-items: flex-end;
  margin-right: 1rem;
  width: 700px;
}

.voyage.right {
  text-align: left;
  align-items: flex-start;
  margin-left: 1rem;
  width: 700px;
}

.voyage-container .voyage-info h3 {
  font-family: "Jost", sans-serif;
  color: #ff8000;
  font-size: 16px;
  text-transform: uppercase;
}

.voyage-container .voyage-info h2 {
  font-family: "Zilla Slab", sans-serif;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.voyage-container .voyage.left .voyage-info p {
  text-align: right;
}

.voyage-container .voyage-info p {
  font-family: "Jost", sans-serif;
  margin: 0.5rem 0;
}

/* Responsive Styles for main content */
@media screen and (max-width: 1013px) {
  main {
    padding: 10px;
    overflow-x: hidden;
  }

  .intro {
    padding: 2% 5%;
  }

  .intro .intro-title {
    font-size: 2rem;
  }

  .intro .intro-description {
    width: 100%;
    text-align: center;
  }

  .voyages {
    flex-direction: column;
  }

  .voyage-container {
    flex-direction: column;
    width: 100%;
  }

  .voyage {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .voyage img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .linecenter {
    margin: 1rem 0;
  }

  .timeline {
    width: 2px;
    height: 150px;
  }

  .cercle,
  .cercle2 {
    width: 15px;
    height: 15px;
  }
  .voyage-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .voyage-info p {
    width: 50%;
    text-align: center;
  }

  .voyage.left,
  .voyage.right {
    text-align: center;
    align-items: center;
  }
}
